<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Detail</title>
    <link href="/css/market-detail.css" rel="stylesheet">
</head>
<body>
<!-- {data: json_data, server_data: server_data, items_mapping: items_mapping} -->
<h1>Detail</h1>

<% for(let item_id in data) { %>
    <div class="div-item-tab item-id-<%= item_id %>">
        <h2><%= items_mapping[item_id].name_fr %> - <%= items_mapping[item_id].name_en %></h2>
        <div class="serveur-values main-server">
            <%
                let hour_last_update ="--:--";
                try {
                    hour_last_update = data[item_id][server_data.main_serveur_id][0]["lastReviewTime"];
                } catch (e) {}
            %>
            <div class="server-name server-id-<%= server_data.main_serveur_id %>"><%= server_data.main_serveur %>
                - <%= hour_last_update %></div>
            <table>
                <% let server_listing = data[item_id][server_data.main_serveur_id];
                for (let i = 0; i < server_listing.length && i < 10; i++) {
                    let listing = server_listing[i];
                %>
                <tr>
                    <td class="main-price"><%= listing.pricePerUnit %></td>
                    <td class="main-quantity"> * <%= listing.quantity %> =</td>
                    <td class="main-total"><%= listing.total %></td>
                </tr>
                <% } %>
            </table>
        </div>
        <% for (let id_other_server in server_data["all_others_serveur"]) { %>
            <div class="serveur-values other-server">
                <% let hour_last_update = data[item_id][id_other_server][0]["lastReviewTime"] %>
                <div class="server-name server-id-<%= id_other_server %>"><%= server_data["all_others_serveur"][id_other_server] %>
                    - <%= hour_last_update %> </div>
                <table>
                    <% let server_listing = data[item_id][id_other_server];
                    for (let i = 0; i < server_listing.length && i < 10; i++) {
                        let listing = server_listing[i];
                    %>
                    <tr>
                        <td class="other-price"><%= listing.pricePerUnit %></td>
                        <td class="other-quantity"> * <%= listing.quantity %> =</td>
                        <td class="other-total"><%= listing.total %></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        <% } %>
    </div>
<% } %>

</body>
<script src="/js/market_detail_front.js"></script>
</html>